/*wrong drupal color was #3B6E88*/

body{
	overflow:hidden;
}

.background{
	background-color: rgb(50,111,136);
	-webkit-transition: background-color 1s;  
    -moz-transition: background-color 1s;  
    -o-transition: background-color 1s;  
    -ms-transition: background-color 1s;  
    transition: background-color 1s;  
}

.whitebackground {
	background-color: rgb(255,255,255);
}

.noanchor:link, .noanchor:visited, .noanchor:active {
	text-decoration: none;
	color:white;
}

.page{
	width:100%;
	height:100%;
}

#logo{
	left:10px;
	top:0px;
}

#content{
	height:100%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-image: url(../assets/brushed_alu.png);
	
}

.jscode{
	background-color:white;
	font-family:"Courier New",Courier,monospace;
	width:600px;
	margin-left:40px;
	padding:10 15 10 15;
	-moz-box-shadow: 5px 5px 5px #888;-webkit-box-shadow: 5px 5px 5px #888;box-shadow: 5px 5x 5px #888;
}

p{
	margin-left:10px;
	font-family:Calibri;
	font-size:15px;
	margin-bottom:15px;
}

#titlebox{
	position:absolute;
	left:40%;
	top:100px;
	width:650px;
	height:500px;

}

#codebox{
	margin-top:20px;
	background-color:white;
	font-family:"Courier New",Courier,monospace;
	width:500px;
	height:100px;
	margin-left:40px;
	padding:10 15 10 15;
	-moz-box-shadow: 5px 5px 5px #888;-webkit-box-shadow: 5px 5px 5px #888;box-shadow: 5px 5x 5px #888;
}

.arrow{
	padding:10%;
	opacity:1;
}

img.up  {
	padding-left:5.5px;
}

img.bottom {
	padding-left:5.5px;
}

img.left {
	margin-left: auto;
}

img.right {
	margin-right: auto;
}

.dirText{
	color:white;
	font-size:40px;
	margin-top:45px;
	opacity:0.0;
}

.control{
	border-radius: 5px;
	/*background-color: rgba(200,255,200,0.2);*/
	width:120px;
	height:120px;
	position:fixed;
	cursor:pointer;
}

#rightControl{
	right:0px;
	top:40%;
}

#leftControl{
	left:0px;
	top:40%;
}

#topControl {
	left:45%;
}

#blog {
	padding-right: 10%;
	width:100%;
	height:100%;
	padding: 5%;
}

#bottomControl {
	left:45%;
	bottom:0px;
}

#galleryBackGround {
	background-color: #ffffff;
	position:fixed;
	z-index:-300;
	top: 25%;
	left: 25%;
	width: 75%;
	height: 75%;
}

#TGGDGallery {
	width:100%;
	height:100%;
}

#sonicPaintingsGallery {
	width:100%;
	height:100%;
}

#monotonetree {
	width:100%;
	height:100%;
}
